# Ignore raw scholarship documents
ScholarshipFiles/
data/raw/

# Ignore OCR-generated PDFs
data/ocr/

# Ignore large generated outputs
data/processed/extracted_text.json

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# API Key
.env.openai
src/parsing/.env.openai

data/processed/deduplication_results.json